input {
  keyboard {
    xkb {
      layout "us"
      variant "colemak_dh_ortho"
      options "compose:ralt,ctrl:nocaps"
    }
  }
}

binds {
  Mod+Left { focus-column-left; }
  Mod+Right { focus-column-right; }
  Mod+T { spawn "kitty"; }
  Mod+X { close-window; }
}
