// startup
spawn-at-startup "veilad"
spawn-at-startup "swaybg" "--image" "/home/jr/.jr/wallpaper.png"
spawn-at-startup "swayidle" "-w" "-C" "/home/jr/.config/swayidle/config"

// global settings
screenshot-path "~/temp/%Y-%m-%d %H:%M:%S.png"
prefer-no-csd

hotkey-overlay {
	skip-at-startup
}

clipboard {
	disable-primary
}

// outputs
output "DP-1" {
	mode "3840x2160@120.000"
}

// workspace definitions
workspace "stash" { }

// keybinds
binds {
	// navigation
  Mod+Left                  repeat=false    { focus-column-left; }
  Mod+Right                 repeat=false    { focus-column-right; }
  Mod+WheelScrollUp         cooldown-ms=150 { focus-column-left; }
	Mod+WheelScrollDown       cooldown-ms=150 { focus-column-right; }
  Mod+Down                  repeat=false    { focus-window-or-workspace-down; }
	Mod+Ctrl+Up               repeat=false    { focus-workspace-up; }
  Mod+Up                    repeat=false    { focus-window-or-workspace-up; }
	Mod+Ctrl+Down             repeat=false    { focus-workspace-down; }
  Mod+Ctrl+WheelScrollUp    cooldown-ms=150 { focus-workspace-up; }
	Mod+Ctrl+WheelScrollDown  cooldown-ms=150 { focus-workspace-down; }
	Mod+Alt+Left              repeat=false    { move-column-left; }
	Mod+Alt+Right             repeat=false    { move-column-right; }
	Mod+Alt+Up                repeat=false    { move-window-up-or-to-workspace-up; }
	Mod+Alt+Down              repeat=false    { move-window-down-or-to-workspace-down; }
	Section                   repeat=false    { toggle-overview; }

	// resizing
	Mod+F repeat=false { maximize-column; }
	Mod+V repeat=false { switch-preset-column-width; }
	Mod+C repeat=false { toggle-window-floating; }

	// apps
  Mod+T repeat=false { spawn "ghostty"; }
  Mod+W repeat=false { spawn "firefox"; }
  Mod+S repeat=false { spawn "niri-scratchpad" "target" "--spawn" "spotify" "appid" "spotify"; }
  Mod+X repeat=false { close-window; }

	// media
	Mod+Pause  repeat=false allow-when-locked=true { spawn "playerctl" "play-pause"; }
	Mod+Insert repeat=false allow-when-locked=true { spawn "playerctl" "play-pause"; }

	// misc
	Mod+Ctrl+Delete repeat=false { spawn "shutdown" "now"; }
	Mod+L           repeat=false { spawn "veila" "lock"; }
	Mod+Space       repeat=false { spawn "rofi" "-show" "drun"; }
	Mod+Shift+S     repeat=false { screenshot show-pointer=false; }
}

// window rules
window-rule {
  // geometry-corner-radius 6
	clip-to-geometry true
	focus-ring {
	  off
	}
}

window-rule {
	match app-id="spotify"
	open-floating true
}

window-rule {
	match app-id="firefox"
	match app-id="slack"
	open-maximized true
}

// layer rules
//layer-rule {
//  match namespace="rofi"
//  background-effect {
//    blur true
//  }
//}

// layout
layout {
  gaps 0

  border {
    off
    // width 3
    // active-color "#ffffff"
    // inactive-color "rgba(255, 255, 255, 0.3)"
  }

  shadow {
    on
    softness 30
    spread 5
    offset x=0 y=5
    color "#0007"
  }

  struts {
    left 0
    right 0
    bottom 0
    top 0
  }

	preset-column-widths {
		proportion 0.25
		proportion 0.50
		proportion 0.75
	}
}

// input
input {
	focus-follows-mouse
	workspace-auto-back-and-forth

  keyboard {
		xkb {
		  layout "se"
		}

		repeat-delay 250
		repeat-rate 50
  }
}

cursor {
    xcursor-theme "Simp1e-Adw-Dark"
    xcursor-size 16
}

// gestures
gestures {
	hot-corners {
		off
	}
}
