#zen-sidebar-web-panel-wrapper,
#navigator-toolbox {
  transform: none !important;
}

#zen-sidebar-web-panel-wrapper .tabbrowser-tab,
#navigator-toolbox .tabbrowser-tab {
  font-size: 0.833rem !important;
  min-height: 30px !important;
  max-height: 30px !important;
  padding-inline: 4px !important;
  margin-block: 1px !important;
}

#zen-sidebar-web-panel-wrapper .tab-icon-image,
#navigator-toolbox .tab-icon-image {
  width: 13px !important;
  height: 13px !important;
}

.tab-group-folder-icon,
.tab-group-folder-icon > svg {
    width: 20px !important;
    height: 20px !important;
    max-width: 20px !important;
    max-height: 20px !important;
}

.tab-group-label {
  font-size: 0.833rem !important;
  padding-right: 26px !important;
}

#urlbar,
.zen-workspace-tabs-section {
  font-size: 0.833rem !important;
}

.tab-background {
    min-height: 30px !important;
    max-height: 30px !important;
    margin-block: 1px !important;
}

.tab-drop-indicator {
  transform: none !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  z-index: 99999 !important;
}
